.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 40px 30px;
}

.menu li a:hover {
  color: rgb(192, 214, 240);
}

.menu li:first-child a {
  border-left: none;
}

.menu li:last-child a {
  border-right: none;
}

/*Imagem de fundo*/
body {
  margin: 0;
  padding: 0;
  background-color: rgb(45, 45, 75);
}

/*Imagem da logo*/
.logo img {
  width: 270px;
  height: 250px;
  position: absolute;
  margin-top: -60px;
  margin-left: 20px;
  z-index: 2;
}

/*Imagens da series */
.serie {
  display: inline-block;
  margin: 20px;
  padding: 5px;
}

.serie img {
  width: 200px;
  height: 300px;
  transition: transform 0.3s ease;
  border: 2px solid white;
}

.serie img:hover{
  /*Aumentar a imagem na escala 1:1*/
  transform: scale(1.1);
}

/*Botão para ir ver a resenha da serie*/
.botao-resenha {
  display: block;
  border-radius: 2px;
  color: rgb(8, 8, 8);
  padding: 16px 47px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 7px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
}

.botao-resenha:hover {
  background-color: #d3e4eb;
  color: rgb(0, 0, 0);
  text-decoration: none;
  
}

.sublinhado{
  text-decoration: none;
}


